<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".Principales.GuarnicionBebidasActivity"
            android:exported="false" />
        <activity
            android:name=".Principales.PedidoActivity"
            android:exported="false" />
        <activity
            android:name=".Principales.ProductoActivity"
            android:exported="false" />
        <activity
            android:name=".Principales.PrivacidadYSeguridadActivity"
            android:exported="false" />
        <activity
            android:name=".Principales.AjustesUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".Principales.PagoActivity"
            android:exported="false" />
        <activity
            android:name=".Principales.CarritoActivity"
            android:exported="false" />
        <activity
            android:name=".Principales.PedidosActivity"
            android:exported="false" />
        <activity
            android:name=".Principales.PantallaDeMenusActivity"
            android:exported="false" />
        <activity
            android:name=".Principales.PantallaDeInicio"
            android:exported="false" />
        <activity
            android:name=".Principales.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>